# ignore dynamic filesystems
/proc
/sys
/dev
/run

# ignore transient storage
/tmp
/var/tmp
/mnt

# ignore logs, caches, repos
/var/log
/var/cache
/var/db/repos
/usr/portage

# optional: ignore your swapfile
/swapfile

