[Match]
# Replace with your ethernet interface name
# Use 1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN mode DEFAULT group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1492 qdisc mq state UP mode DEFAULT group default qlen 1000
    link/ether 00:15:5d:41:04:37 brd ff:ff:ff:ff:ff:ff to find the name (e.g., enp0s20u2)
Name=enp0s20u2

[Network]
# Change to your static IP
Address=192.168.2.44/24
# Replace with your router's IP
Gateway=192.168.2.1
# Replace with your DNS server (this example uses Cloudflare)
DNS=1.1.1.1
DHCP=no
IPv6AcceptRA=no
LinkLocalAddressing=no
